@import "../../theme.scss";

.homePage {
  display: flex;
  height: 100vh;
  width: 100%;
  background: $backgroundGradient;
  color: $textColor;
  font-family: "RobotoSlab", sans-serif;
  font-weight: 400;

  .sidebarContainer {
    .sidebarToggle {
      display: none;
      position: fixed;
      top: 1rem;
      left: 1rem;
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      z-index: 100;
    }

    .sidebar {
      position: fixed;
      left: 0;
      width: 3.5rem;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $paddingLow 0;
      background: $backgroundColor;
      // border-right: 1px solid #444;
      box-shadow:01px 0px 0px 0px $textColor;
      z-index: 99;

      &.open {
        width: 14rem;
      }

      .sidebarNav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;

        .sidebarLink {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3rem;
          height: 3rem;
          cursor: pointer;
          transition: all 0.3s;

          .icon {
            color: $textColor;
            font-size: 1.5rem;

            &.active {
              color: $mainColor;
            }
          }

          .text {
            display: none;
            margin-left: 1rem;
            color: $textColor;
            white-space: nowrap;
            transition: opacity 0.3s;
          }

          .tooltip {
            position: absolute;
            left: 3.5rem;
            padding: 0.5rem;
            background: rgba(0, 0, 0, 0.7);
            background-color: $textColor;
            border-radius: 0.25rem;
            display: none;
            white-space: nowrap;
            color: $darkgray;
          }
          .tooltip::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -0.5rem;
            transform: translateY(-50%);
            border-top: 0.5rem solid transparent;
            border-bottom: 0.5rem solid transparent;
            border-right: 0.5rem solid $textColor;
            color: $darkgray;
          }

          &:hover .tooltip {
            display: block;
          }
        }
      }

      .sidebarNavBottom {
        margin-top: auto;

        .sidebarLink {
          position: relative;
          display: flex;
          align-items: center;
          cursor: pointer;

          .icon {
            color: $textColor;
            font-size: 1.5rem;
          }

          .text {
            display: none;
            margin-left: 1rem;
            color: $textColor;
            white-space: nowrap;
            transition: opacity 0.3s;
          }

          .tooltip {
            position: absolute;
            left: 3rem;
            top: 0;
            padding: 0.5rem;
            background: rgba(0, 0, 0, 0.7);
            background-color: $textColor;
            border-radius: 0.25rem;
            display: none;
            white-space: nowrap;
            color: $darkgray;
          }
          .tooltip::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -0.5rem;
            transform: translateY(-50%);
            border-top: 0.5rem solid transparent;
            border-bottom: 0.5rem solid transparent;
            border-right: 0.5rem solid $textColor;
            color: $darkgray;
          }

          &:hover .tooltip {
            display: block;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .sidebarToggle {
        display: block;
      }

      .sidebar {
        left: -14rem;
        transition: left 0.3s ease;

        &.open {
          left: 0;
          .sidebarLink{
            width: fit-content;
            .text {
              display: inline-block;
              // background-color: green;
            }
            .icon{
              display: inline;
              // background-color: red;
            }
            .tooltip{
              left: 120%;
            }
          }
        }
      }
    }
  }
  .homePageMain{
    height: 100vh;
    padding: $paddingMedium;
    padding-left: 5rem;
    width: 100%;
    height: 100vh;
    .homePageHeader{
      display: flex;
      align-items: center;
      gap: 20px;
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid $mainColor;
      }
      h1{
        font-size: 1.2em;
        text-shadow: 1px 1px 10px green;
      }
    }
  }

}
