@import "../../themes.scss";
@import "../../index.scss";

.skills {
    padding: 30px;
    @include small{
        padding: 10px;
    }
    &__heading {
        text-align: center;
        font-size: 3rem;
        @include mobile {
            font-size: 2rem;
        }
    }
    &__wrapper{
        max-width: 1366px;
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-top: 40px;
        text-align: center;
        @include tablet{
            width: 90%;
            grid-template-columns: repeat(4, 1fr);
            text-align: left;
        }
        @include mobile{
            width: 100%;
            grid-template-columns: repeat(4, 2fr);
        }
        @include small{
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 450px){
            grid-template-columns: repeat(2, 1fr);
        }
        .skills__item{
            height: 200px;
            padding: $paddingMedium;
            border-radius: $borderRadiusHigh;
            display: flex;
            flex-direction: column;
            text-align: center;
            img{
                width: 60px;
                height: 60px;
                margin: auto;
                filter: drop-shadow(-2px -2px white);
            }
            .skills__title{
                font-size: 1.2rem;
            }
        }
    }
}