@import "../../theme.scss";

.resetPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    height: 100vh;
    width: 100vw;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        background-color: $textColor;
        padding: $paddingHigh;
        border-radius: $borderRadiusHigh;
        @media (max-width: 1024px){
            width: 50%;
        }
        @media (max-width: 768px){
            width: 80%;
            padding: $paddingMedium;
        }
        @media (max-width: 560px){
            width: 90%;
        }
        .input{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 20px;
            .label{
                font-size: 0.8em;
                font-weight: 700;
                color: $mainColor;
                margin-bottom: 5px;
            }
            .inputField{
                border-radius: $borderRadiusLow;
                border: 1px solid $mainColor;
                padding: $paddingLow;
                font-size: 0.8em;
            }
        }
        .button{
            font-size: 1.3em;
            padding: $paddingLow $paddingHigh;
            font-weight: 700;
        }
        .forgot{
            font-size: 0.8em;
            color: $mainColor;
            font-weight: 700;
            margin-top: 15px;
            margin-bottom: 10px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}