/* Roboto Black */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/RobotoSlab-Black.ttf') format('truetype');
  font-weight: 900; /* Black weight is typically 900 */
  font-style: normal;
}

/* Roboto Black Italic */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 900; /* Black weight is typically 900 */
  font-style: italic;
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold weight is typically 700 */
  font-style: normal;
}