*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background: #030303;
}
::-webkit-scrollbar-thumb{
  background: #6f50aa;
  border-radius: 20px;
}

.image_button::file-selector-button{
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  padding: 7px;
  border: 1px solid #6f50aa;
  color: #fefdfd;
  background: hsl(222.2, 47, 4%, 11.2%);
}
.image_button::file-selector-button:hover{
  color: hsl(222.2, 47, 4%, 11.2%);
  background: transparent;
}