@import "../../themes.scss";
@import "../../index.scss";
.navbar{
    height: 80px;
    width: 100%;
    padding: 0px 20px;
    .navbar__wrapper{
        max-width: 1366px;
        height: 100%;
        margin:auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            margin-left: 100px;
            font-size: 24px;
            font-weight: 800;
            color: $textColor;
            @include small{
                margin: 0;
            }
        }
        @include small{
            padding: 0px;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            gap: 10px;
            span{
                margin-left: 0;
            }
        }
        .navbar__social__links{
            display: flex;
            justify-content: end;
            align-items: center;
            @include small{
                align-self: end;
            }
            a{
                margin: 0px 10px;
                // filter: drop-shadow(1px 1px white);
                .icon{
                    width: 20px;
                    height: 20px;
                    color: $mainColor;
                    transition: all ease-in-out 0.5s;
                    filter: drop-shadow(1px 1px 3px $mainColor);
                    &:hover{
                        fill: $mainColor;
                    }
                }
            }
        }
    }
}