@import "../../index.scss";
@import "../../themes.scss";
.hero{
    width: 100vw;
    &__wrapper{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include mobile{
            grid-template-columns: 1fr;
        }
        .text__container{
            width: 100%;
            display: flex;
            align-items: left;
            flex-direction: column;
            justify-content: space-around;
            gap: 20px;
            @include mobile{
                text-align: center;
            }
            h1{
                font-size: 4.5em;
                @include mobile{
                    font-size: 2.5em;
                }
            }
            h2{
                font-size: 2.5rem;
                background: -webkit-linear-gradient(#492ca0, #8963c2, #cbbae4);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                @include mobile{
                    font-size: 1.5rem;
                }
            }
            .buttons{
                display: flex;
                gap: 20px;
                @include mobile{
                    justify-content: center;
                }
            }
            .scroll__div{
                width: 100%;
                height: 100px;
                overflow: hidden;
            }
        }
        .image__container{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            img{
                border-radius: $borderRadiusHigh;
                width: 90%;
                height: 90%;
                object-fit: cover;

            }
        }
    }
}