@import "./themes.scss";

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: $textColor;
    background: $backgroundGradient;

    &::selection{
        color: $textColor;
        background: $mainColor;
    }

    &::-webkit-scrollbar{
        width: 7px;
    }

    &::-webkit-scrollbar-track{
        background: linear-gradient(180deg, #8e7eaa, #b83585);
    }

    &::-webkit-scrollbar-thumb{
        background: $buttonGradient;
        border-radius: $borderRadiusHigh;
    }

    &::-webkit-scrollbar-thumb:hover{
        background: $buttonHover;
    }

    &::-webkit-scrollbar-thumb:active{
        background: $buttonHover;
    }

}
section{
    height: 100vh;
    scroll-snap-align: center;
}
