$backgroundColor: #333333;
$textColor: #fefdfd;
$mainColor: #5f43b2;
$gradientTop: linear-gradient(45deg, #5f43b2, #8a63d2, #b083f3);
$buttonHover: #9d4edd;
$buttonShadow: 2px 2px 20px rgba(157, 78, 221, 0.5);

$borderRadiusLow: 10px;
$borderRadiusHigh: 20px;

$shadow: 3px 3px 10px gray;

$paddingLow: 10px;
$paddingMedium: 20px;
$paddingHigh: 30px;