$backgroundColor: #000000;
$darkgray: #030303;
$backgroundGradient: linear-gradient(45deg, $darkgray, $backgroundColor);
$textColor: #fefdfd;
$mainColor: #5f43b2;
$buttonGradient: linear-gradient(45deg, #492ca0, #6f50aa, #8963c2);
$buttonHover: #6216a0;
$buttonShadow: 2px 2px 20px rgba(157, 78, 221, 0.5);

$borderRadiusLow: 10px;
$borderRadiusHigh: 20px;

$linkHover:#cecece;

$shadow: 3px 3px 10px gray;

$paddingLow: 8px;
$paddingMedium: 16px;
$paddingHigh: 24px;